body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #00b09b, #96c93d);
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .section {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 45%;
  }
  
  @media screen and (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  #stats-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

#stats-link:hover {
background-color: #2980b9;}
